<launch>
<group ns="main">
    <!-- <machine name="tablet" address="192.168.1.99" env-loader="/home/tablet/catkin_ws/scripts/env_tablet.sh" user="tablet" password="1234" default="true"/> -->

    <node name="swarm_safe_vel_calculator" pkg="swarm_control" type="swarm_control.py" output="screen">
        <rosparam file="$(find swarm2_launch)/config/main_swarm_control.yaml"/>
    </node>

</group>
</launch>