<?xml version="1.0"?>
<launch>
    <!-- Argument for helper laptop -->
    <arg name="helper_laptop" default="false"/>

    <!-- Conditionally include machine tag -->
    <group if="$(arg helper_laptop)">
        <machine name="helper_laptop" address="192.168.1.123" env-loader="$(find swarm2_launch)/scripts/env_helper_laptop.sh" user="burak" password="1234" default="true"/>
    </group>

    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="false" /> <!--make true to see Gazebo interface -->
    <arg name="headless" default="false" />
    <!-- <arg name="world_name" default="$(find lab_gazebo)/worlds/highbay_swarm.world" /> -->
    <arg name="world_name" default="$(find gazebo_ros)/worlds/empty_world.world" />

    <!-- Launch Gazebo with the specified world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="0" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="world_name" value="$(arg world_name)" />
    </include>

</launch>
