<launch>
  <arg name="config_extras"
       default="$(eval optenv('DINGO_CONFIG_EXTRAS', find('dingo_control') + '/config/empty.yaml'))"/>

  <arg name="robot_namespace"       default="$(optenv DINGO_CUSTOM_NAME d)"/>
  <!-- Generate the tf_prefix from the namespace -->
  <arg name="tf_prefix" default="$(eval optenv('TF_PREFIX', arg('robot_namespace') + '_tf_'))" />

  <!-- Here we spawn (load and launch) two controllers 
       The key thing we need to do is to set the 
       "base_frame_id" of the diff_drive_controller
       to include the tf_pre so that our tf trees work out.   
       So, we load the default control configuration and then overwrite 
       the base_frame_id -->

  <!-- Spawn controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="dingo_joint_publisher dingo_velocity_controller" />
      <!-- Load controller configuration (Based on robot type: omnidir) -->
    <rosparam command="load" file="$(find swarm2_launch)/config/d1_control_omni.yaml" subst_value="true"/>         
  </node>

  <!-- EKF localization -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find swarm2_launch)/config/d1_robot_localization.yaml" />
  </node>

  <!-- Robot Internal twist mux -->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find dingo_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="dingo_velocity_controller/cmd_vel"/>
  </node>

  <rosparam command="load" file="$(arg config_extras)" subst_value="true" />

</launch>
